body {
    padding-top: 4.5rem;
}

th, td {
    text-align: center;
}

section {
    padding: 1em 0 1em 0;
}

.card-deck {
    padding-bottom: 1rem;
}

.btn-primary {
    background-color: #7413dc !important;
    border-color: #7413dc !important;
}

.btn-primary:hover {
    background-color: #5b0fad !important;
    border-color: #5b0fad !important;
}

.container {
    padding-top: 1rem;
}

.error {
    color: red;
    font-weight: bold;
    padding-top: 1rem;
}